.foot{width:1000px;margin:0px auto;margin-top:30px;border-top:1px solid #CBCAC6;height:80px;font-size:12px;color:#9CA4B8}
#footlink ul{height:20px;width:150px;margin:0px auto;padding:0px;margin-top:10px;}
#footlink ul li{float:left;list-style:none;margin-left:10px;}
#footlink ul li a{color:#9CA4B8;text-decoration:none;}
#footlink ul li a:hover{color:#494949;text-decoration:underline;}
#footright{margin-bottom:5px;margin-top:5px;text-align:center;}
.footArea{height:110px;width:1000px;margin:0px auto;padding-top:40px;font-size:13px;}
.space_host a{color:#3E62A6;text-decoration:none;}
#foot_info{text-align:center;padding:10px;}