<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ulewo.mapper.UserFriendMapper" >
  <resultMap id="BaseResultMap" type="com.ulewo.model.UserFriend" >
    <id column="friend_userid" property="friendUserId" jdbcType="INTEGER" />
    <id column="userid" property="userId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="base_condition" >
      <if test="param!=null">
		  <if test="null!=param.userId and ''!=param.userId" >
	        	and f.userid = #{param.userId,jdbcType=VARCHAR}
	      </if>
	       <if test="null!=param.friendUserId and ''!=param.friendUserId" >
	        	and f.friend_userid = #{param.friendUserId,jdbcType=VARCHAR}
	      </if>
	  </if>
  </sql>
  <sql id="Base_Column_List" >
    friend_userid, userid, create_time
  </sql>
  
  <select id="selectBaseInfo" resultMap="BaseResultMap" parameterType="com.ulewo.model.UserFriend" >
    select 
    <include refid="Base_Column_List" />
    from ulewo_user_friend f
    where 1=1
     <include refid="base_condition" />
  </select>
  
   <select id="selectBaseInfoCount" resultType="java.lang.Integer" parameterType="com.ulewo.model.UserFriend" >
    select count(1)
    from ulewo_user_friend f
    where 1=1
    <include refid="base_condition" />
  </select>
  
    <select id="selectBaseInfoList" resultMap="BaseResultMap" parameterType="com.ulewo.model.UserFriend">
    select 
     <include refid="Base_Column_List" />
    from ulewo_user_friend f 
    where 1=1
    <include refid="base_condition" />
    order by create_time desc limit #{page.start},#{page.end} 
  </select>
   
  <!--查询关注的人数量-->
  <select id="selectFocusCount" resultType="java.lang.Integer" parameterType="com.ulewo.model.UserFriend">
    select count(1)
    from ulewo_user_friend f 
    where 1=1
    <include refid="base_condition" />
    and EXISTS(select 1 from ulewo_user u where u.userid=f.friend_userid)
  </select>
   
   <!--查询关注的人-->
  <select id="selectFocusList" resultMap="BaseResultMap" parameterType="com.ulewo.model.UserFriend">
    select f.friend_userid,u.username friendName,u.user_icon friendIcon,f.userid, f.create_time
    from ulewo_user_friend f inner join ulewo_user u on u.userid = f.friend_userid
    where 1=1
    <include refid="base_condition" />
    order by create_time desc limit #{page.start},#{page.end} 
  </select>
  
  <!--查询粉丝的数量-->
   <select id="selectFansCount" resultType="java.lang.Integer" parameterType="com.ulewo.model.UserFriend">
    select count(1)
    from ulewo_user_friend f
    where 1=1
    <include refid="base_condition" />
    EXISTS(select 1 from ulewo_user u where u.userid=f.userid)
  </select>
  
  <!--查询粉丝-->
   <select id="selectFansList" resultMap="BaseResultMap" parameterType="com.ulewo.model.UserFriend">
    select f.friend_userid,u.username friendName,u.user_icon friendIcon,f.userid, f.create_time
    from ulewo_user_friend f inner join ulewo_user u on u.userid = f.userid
    where 1=1
    <include refid="base_condition" />
    order by create_time desc limit #{page.start},#{page.end} 
  </select>
  
  <delete id="delete" parameterType="com.ulewo.model.UserFriend" >
    delete from ulewo_user_friend 
      where userid = #{param.userId,jdbcType=VARCHAR} and friend_userid = #{param.friendUserId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.ulewo.model.UserFriend" >
    insert into ulewo_user_friend (friend_userid, userid, create_time
      )
    values (#{friendUserId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
</mapper>