<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/mvc http://www.springsource.org/schema/mvc/spring-mvc-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" 
		p:defaultEncoding="utf-8" /> -->
     
	<context:annotation-config />   

	<!--此处是为了解决ajax响应中文乱码问题，必须在context:component-scan之前  --> 
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonHttpMessageConverter"/>
			</list>
		</property>
		<property name="cacheSeconds" value="0"/> 
	</bean>
	<bean id="jsonHttpMessageConverter" 
       class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
	
	<context:component-scan base-package="com.ulewo.controller" /> 
	<context:component-scan base-package="com.ulewo.service"/> 
	<context:component-scan base-package="com.ulewo.dao" />
	
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->     
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"     
		p:prefix="/" p:suffix=".jsp" />   
		  
	 <!--上传文件所需要的bean-->
	 <bean id="multipartResolver"     
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver"     
		  p:defaultEncoding="utf-8" />    
		  
</beans> 