body{margin:0px auto;background-image:url("../images/lb_01.jpg");background-position-x:center;background-position-y:10px;background-repeat: no-repeat;background-color: #F0D5FE;font-size:13px;}
.clear{clear:both}
.top{width:100%;text-align:center;height:75px;background-image:url("../images/topbg.gif");background-repeat:repeat-x}
.top_center{width:1000px;}
.logo{width:150px;float:left;}
.menues{float:right;width:600px;}
.subbanner{width:1000px;margin:0px auto;padding-left:250px;margin-top:155px;}
.subbanner a{color:#0D0012;text-decoration:none;}
.main{width:1000px;margin:0px auto;margin-top:10px;padding-bottom:80px;}
.left{float:left;width:230px;padding-bottom:20px;}
.title_con{background:#ffffff;padding-bottom:10px;padding:10px;padding-top:10px;}
.title-tit{border-bottom:1px dotted #D9D9D9 ;padding-left:10px;;padding:5px 10px;}
.title-tit a{color:#3D3D3D;text-decoration:none;}
.title-tit a:hover{color:#F29CB4;}
.left-img{padding:5px;background:#ffffff;margin-top:10px;}
.right{float:left;width:730px;margin-left:30px;margin-top:10px;position:relative;}
.next{text-align:left;font-size:12px;margin-top:40px;border-top:2px solid #621990;padding-top:20px;padding-left:20px;}
.next a{text-decoration:none;color:#414141}
.right-top{background:url("../images/rightbg1.jpg");height:47px;width:730px;}
.right-center{background:#ffffff;padding:0px 25px;}
.right-footer{background:url("../images/rightbg2.jpg");height:47px;width:730px;}
.list-title{border-bottom:2px solid #621990;padding-left:10px;padding-bottom:8px;}
.h-line{background:#621990;width:4px;float:left;height:35px;}
.list-title-tit{float:left;float:left;margin-left:8px;font-size:14px;}
.list-title-tit .title{color:#8F29C0}
.post-time{font-size:12px;color:#5D5D5D;margin-top:5px}
.title-con{margin-top:15px;border:1px solid #ffffff;}
.con-title{margin-top:15px;padding-left:10px;font-size:12px;}
.con-title a{color:#343434;text-decoration:none;}
.con-title a:hover{color:#8E2ABE}
.time{float:right;padding-right:15px;color:#707070;}
.top-img{position:absolute;top:15px;right:45px;}

.footer{height:100px;background:#8E2ABE;text-align:center;font-size:14px;color:#ffffff;padding-top:40px;}
.footer_center{width:1000px;position:relative;margin:0px auto;}
.footer_center a{color:#ffffff;text-decoration:none;}
.company{margin-top:10px;}
.bei{margin-top:10px;}
.code{position:absolute;top:0px;right:100px;}
