<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ulewo.mapper.TopicSurveyUserMapper" >
  <resultMap id="BaseResultMap" type="com.ulewo.model.TopicSurveyUser" >
    <result column="survey_dtl_id" property="surveyDtlId" jdbcType="INTEGER" />
    <result column="userid" property="userId" jdbcType="INTEGER" />
    <result column="survey_date" property="surveyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    survey_dtl_id, userid, survey_date
  </sql>
  <sql id="base_condition" >
 	 <if test="param!=null">
	      <if test="null!=param.surveyDtlId and ''!=param.surveyDtlId" >
	        	and s.survey_dtl_id = #{param.surveyDtlId,jdbcType=DECIMAL}
	      </if>
	      <if test="null!=param.userId and ''!=param.userId" >
	        	and s.userid = #{param.userId,jdbcType=DECIMAL}
	      </if>
	      <if test="null!=param.topicId and ''!=param.topicId" >
	        	and d.topic_id = #{param.topicId,jdbcType=DECIMAL}
	      </if>
      </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ulewo_topic_survey_dtl
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectSurveys" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    ,d.title
    from ulewo_topic_survey_user s inner join ulewo_topic_survey_dtl d on s.survey_dtl_id = d.id
      where 1=1
    <include refid="base_condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ulewo_topic_survey_dtl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ulewo.model.TopicSurveyDtl" >
    insert into ulewo_topic_survey_user (survey_dtl_id, userid, survey_date)
    values (#{surveyDtlId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{surveyDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ulewo.model.TopicSurveyDtl" >
    update ulewo_topic_survey_dtl
    <set >
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>