@IMPORT url("public.css");
.articlePanel{margin-top:15px;text-align:left;padding:25px;background:#F5F5F5}
.top{margin-top:5px;}
.top_user_avator{float:left;text-align:center;width:43px;border:1px solid #DBDBDB;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.top_user_avator img{width:40px;}
.top_user_name{float:left;margin-left:10px;display:inline-block;padding-top:1px;}
.top_user_name a{color:#77B9D0;text-decoration:none;font-size:12px;}
.top_user_name a:hover{color:#3FA7CB;}
.top_user_time{float:left;display:inline-block;margin-left:10px;color:#A3A3A3;font-size:12px;}
.tagArea_tit{float:left;color:#666666;font-size:12px;}
.tagArea{float:right;margin-right:5px;display:inline-block;}
.tagArea a,.re_content a{display:inline-block;float:left;margin-left:5px;text-decoration:none;color:#77B9D0;font-size:12px;}
.tagArea a:hover,.re_content a:hover{color:#3FA7CB;}
.tagArea_tag{float:left;display:inline-block;}
.content{line-height:20px;margin-top:10px;color:#666666}

.imgArea{display:inline-block;padding:3px;border:1px solid #E1E1E1;margin-top:5px;}
.opArea{height:30px;margin-top:10px;}
.countArea{height:30px;width:200px;float:left;}
.countArea a{display:inline-block;padding:4px 5px 3px 22px;border:1px solid #3FA7CB;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;text-decoration:none;color:#3FA7CB;outline:none;-moz-outline:none;}
.countArea a.up{background:url("../images/webbg.png") -17px -40px no-repeat;}
.countArea a.upno{background:url("../images/webbg.png") -17px -10px no-repeat;border:1px solid #A3A3A3;color:#A3A3A3}
.countArea a.down{background:url("../images/webbg.png") -95px -40px no-repeat;margin-left:10px;}
.countArea a.downno{background:url("../images/webbg.png") -95px -10px no-repeat;border:1px solid #A3A3A3;color:#A3A3A3;margin-left:10px;}
.sharecon{width:150px;float:right;height:20px;padding-top:5px}
.sharetit{display:inline-block;float:left;padding-top:2px;}
.qqshare,.qqwbshare,.sinawbshare,.renrenshare{background:url("../images/webbg.png") -5px -78px no-repeat;width:17px;height:17px;display:block;float:left;margin-left:5px;}
.qqshare{background-position:-5px -78px}
.qqwbshare{background-position:-32px -78px}
.sinawbshare{background-position:-59px -78px}
.renrenshare{background-position:-84px -78px}
.replyCon{float:right;width:100;margin-right:10px;padding-top:5px;}
.replyCon a{color:#77B9D0;text-decoration:none;font-size:12px;}
.replyCon a:hover{color:#3FA7CB;}
.replyCon span{padding-left:5px;color:#A3A3A3}
.imgArea img.big:hover{cursor:url("../images/cursor_minify.cur"),pointer!important}
.imgArea img.small:hover{cursor:url("../images/cursor_zoom.cur"),pointer!important}
.replayCon{border-top:2px solid #CCCCCC;margin-top:10px;}
.replayform{margin-top:15px;}
.re_textarea{width:100%;height:70px;}
.replay_op a{float:left;display:inline-block;}
.replay_op input{float:right;display:inline-block;}
.re_panel{border-bottom:1px dotted  #DFD5CB;margin-top:5px;padding-bottom:5px;}
.re_img_area{width:30px;float:left;border:1px solid #DBDBDB;}
.re_content{float:left;width:620px;margin-left:10px;}
.re_username{font-size:12px;color:#77B9D0}
.re_content_body{font-size:13px;line-height:20px;margin-left:10px;color:#666666}
.lou_area{width:10px;float:left;color:#DFD5CB;margin-left:10px;}