body{margin:0px auto;font-size:14px;}
.head{width:100%;height:130px;text-align:center;}
.head_top{height:30px;width:1000px;margin:0px auto;text-align:right;font-size:13px;}
.head_top a{color:#494949}
.head_top_user{font-weight:bold;font-size:14px;}
.index_menue{width:100%;background:#3FA7CB;height:40px;text-align:center;}
.index_menue ul{height:30px;width:1000px;margin:0px auto;font-size:16px;padding:0px;}
.index_menue ul li{list-style:none;float:left;margin-left:1px;}
.index_menue ul li a{display:inline-block;color:#FFFFFF;height:28px;padding:12px 20px 0px 20px;text-decoration:none;}
.index_menue ul li a:hover{background:#4EB2D4}
.body_con{width:1000px;text-align:center;margin:0px auto;}
.menue a{display:inline-block;margin-left:10px;margin-left:10px;padding:5px;text-decoration:none;background:#AEDDE7;}
.left{float:left;width:735px;text-align:left;}
.right{float:left;width:230px;margin-left:35px;text-align:left;margin-top:15px;}
.right_con{position:fixed;top:0px;left:0px;}
.list_tag{border:1px solid #CCCCCC;padding:8px;}
.list_tag_tit_area{margin-top:5px;}
.list_tag_area{margin-top:10px;}
.list_tag_tit{float:left;border-bottom:1px solid #3EA7CB;width:40px;height:18px;padding-left:8px;font-weight:bold;font-size:13px;color:#666666}
.list_tag_blank{float:left;border-bottom:1px solid #CCCCCC;width:160px;height:18px;}
.listen,.tag{margin-top:5px;}
.listen a,.tag a{color:#666666;font-size:14px;text-decoration:none;display:inline-block;float:left;margin:5px;margin-left:20px;}
.qqgrouparea{background:#4EB2D4;color:#FFFFFF;margin-top:10px;padding:10px;}
.clear{clear:both;}
.loading{text-align:center;margin-top:10px;}

.replay_op{position: relative;}
.face_panel{position:absolute;border:1px solid #939393; border-radius:3px;text-align:left;margin:0px;padding:0px;background:#FFFFFF;padding:10px;width:353px;height:115px;}
.face_panel ul{list-style:none;margin:0px;padding:0px;}
.face_panel ul li{float:left;width:25px;height:25px}
.face_single{border:1px solid #939393;margin:1px;background-image:url("../images/tFace.gif")}
.face_single_hover{border:1px solid #E96A3A;}

