.main{font-size:14px;width:1000px;margin:0px auto;text-align:left;margin-top:10px;}
.main img{border:0px;}
.main a{color:#333;text-decoration:none;font-size:14px;}
.main a:hover{color:#FF6600;}

.selected1{background:#1C91BE;}
.left{width:720px;float:left;}
.right{width:260px;margin-left:20px;float:left;}
.titinfo{border-bottom:2px solid #38A2DB;font-size:18px;color:#38A2DB;padding:5px;margin-top:10px;}
ul{margin:0px;padding:0px;}
ul li{margin:0px;padding:0px;list-style:none;}
.new_list{float:left;margin-left:5px;width:330px;}
.new_list li{margin-top:10px;}
.new_list2{float:right;margin-right:10px;}


.new_article_list{margin-top:10px;}
.new_article_list li{margin-top:7px;height:30px;list-style:none;margin:0px;padding:0px;margin-left:5px;}
.new_article_list li span{color:#888;font-size:13px;}
.new_article_list li a{color:#333;text-decoration:none;}
.new_article_list li a:hover{color:#FF6600;}
.article_tit{float:left;display:inline-block;}
.article_user,.article_read{float:right;display:inline-block;padding-right:10px;}
.sec_span{padding-left:10px}
.sec_span2{padding-left:10px;display:inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width:400px}
.new_blog{margin-top:10px;margin-left:5px;}
.new_blog li{margin-top:5px;height:25px;}
.new_blog li span{color:#888;font-size:13px;}

.create_wo{background:#38A3DB;height:30px;color:#FFFFFF;text-align:center;padding-top:10px;}
.create_wo a{color:#FFFFFF;}
.create_wo a:hover{color:#FFFFFF;}
.day_pic{float:left;width:130px;margin-left:15px;margin-top:10px;}
a.day_pic_link{width:124px;height:100px;overflow:hidden;display:block;border:1px solid #38A2DB;padding:2px;}
a.day_pic_link:hover{border:1px solid red;}
.day_pic_link span{width:124px;height:100px;display:block;overflow: hidden;}
.day_pic img{width:124px;border:0px;}

.day_pic_tit{text-align:center;padding-top:3px;}
.day_pic_tit a{color:#333;text-decoration:none;font-size:13px;display:block;width:120px;overflow:hidden;white-space:nowrap;}
.day_pic_tit a:hover{color:#FF6600;}

.recommend_wo{margin-top:10px;}
.wo_img{width:65px;float:left;margin-left:10px;border:1px solid #C0C0C0;padding:2px;}
.wo_img img{width:60px;height:60px;}
.wo_info{color:#888;width:155px;margin-left:20px;float:left;font-size:13px;}
.wo_info a{color:#333;text-decoration:none;font-size:13px;}
.wo_info a:hover{color:#FF6600;}
.wo_info div{padding-top:5px;}

.user_img{float:left;width:60px;float:left;margin-left:20px;margin-top:10px;}
.user_img img{width:60px;height:60px;}
.user_img_name a{font-size:13px;display:block;text-align:center;margin-top:3px;width:60px;overflow:hidden;white-space:nowrap;}

.talk{margin-top:10px;}
.talkarea{float:left;width:218px;border:1px solid #64C5E8;}
.talkarea textarea{width:214px;height:40px;outline:none;resize:none;margin:0px;border:none;}
.talkbtn{float:left;display:inline-block;}
.talkbtn a{display:inline-block;background:#38A3DB;color:white;width:40px;height:31px;padding-top:15px;text-align:center;}
.talkbtn a:hover{color:white;}
#talkload{display:none;margin:10px;}
.talkitem{margin-top:10px;}
.itemicon{width:37px;float:left;border:1px solid #9A9A9A;}
#talkcontent{color:#A9A9A9;height:44px;}
.main .itemcon{float:left;margin-left:10px;width:210px;font-size:13px;}
.item_user{color:#6CABE1}
.item_user a{color:#6CABE1;text-decoration:underline;font-size:12px;}
.main .item_content{color:#666;line-height:20px;font-size:12px;font-family:微软雅黑,Verdana,sans-serif,宋体}
.main .item_content a{color:#4466BB;text-decoration:underline;font-size:12px;}
.main .item_content a:hover{color:#4466BB}
.item_time{font-size:12px;display:block;margin-top:5px;color:#9A9A9A;}
.main .item_time a{color:#6CABE1;font-size:12px;}
.main .item_time a:hover{color:#6CABE1}

.detail_item_time{font-size:11px;display:inline-block;margin-top:5px;color:#9A9A9A;float:left;}
.detail_item_recount{float:right;margin-right:5px;}

.moretalk{margin-top:10px;text-align:right;}
.main .moretalk a{color:#3E62A6;text-decoration:underline;font-size:12px;}
.main .moretalk a:hover{color:#3E62A6}