body{margin:0px auto;text-align:center;}
.main{margin:0px auto;width:1000px;text-align:left;font-size:13px;}
.main a{color:#3E62A6}
.main a img{border:0px;}
input{outline:none;margin:0px;padding:0px;}
textarea{overflow:auto;padding:0px;margin:0px;resize:none;border:none;}
.clear{clear:both;}
.head_top{width:1000px;height:85px;margin:0px auto;}
.head_logo{display:inline-block;float:left;}
.android_logo{display: inline-block;float:left;margin-left: 10px;}
.head_user{display:inline-block;float:right;font-size:14px;position:relative;}
.head_user .head_s_p{display:inline-block;float:right;padding:3px;}
.head_user a{color:#3E62A6;text-decoration:none;display:inline-block;padding:1px;}
.head_user a:hover{background:#64C5E8;color:#ffffff}
.welcom{color:#666666}
.head_user div.myspace{background:url('../images/icons.gif') no-repeat 62px -219px;padding-right:10px;padding-bottom:1px;}
.tool_panle{position:absolute;display:none;height:125px;border:1px solid #64C5E8;left:107px;top:20px;background:#ffffff;text-align:left;padding:0px;z-index:10}
.tool_panle ul{margin:0px;padding:0px;}
.tool_panle ul li{margin:3px;list-style:none;padding:0px;}
.tool_panle ul a{font-size:13px;color:#3E62A6;text-decoration:none;display:block;padding:1px;}
.tool_panle ul a:hover{background:#64C5E8;color:#FFFFFF}
#head{background:#64C5E8;height:40px;width:100%;}
.head_con {margin:0px auto;width:1000px;height:40px;text-align:center;}
.head_con ul.left{width:600px;float:left;margin:0px;padding:0px;height:35px;background:#64C5E8;border:0px;text-align:center;}
.head_con ul.left li{float:left;width:100px;list-style:none;margin-left:1px}
.head_con ul.left li a{text-decoration:none;display:block;padding-top:11px;color:white;height:29px;font-size:14px;}
.head_con ul.left li a:hover{text-decoration:none;background:#1C91BE;}
.notice_panle{width:150px;height:30px;position:absolute;left:10px;top:20px;display:none;}
.tip-arrow{width: 9px;height: 6px;background: url(../images/tip-yellowsimple_arrows.gif) no-repeat;position:absolute;left:130px;top:0px;z-index:3;}
.tip_con{background:#FFF9C9;border:1px solid #C7BF93;height:20px;position:absolute;left:0px;top:5px;width:150px;padding-top:8px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px}
.tip_con a{color:#3E62A6;}
#gototop{position:fixed;bottom: 120px; right: 100px; cursor: pointer; display:none;}
/**************��������******************/
.head_search .head_search_input{height:27px;margin-top:5px;width:250px;margin-left:40px;float:right;border:1px solid #1C91BE;}
.head_search .head_search_btn{background:#1C91BE;border:0px;color:#ffffff;font-size:15px;height:29px;width:100px;float:right;margin-top:5px;}

a.btn{background:#4682B4;display:inline-block;text-align:center;padding:5px 5px 0px 5px;height:20px;color:#ffffff;text-decoration:none;font-size:13px;}
a.btn:hover{background:#38678F}
a.btn img{border:0px;}
/***��½���ֲ�****/
.shade{position:absolute;background:#FFFFFF;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity: 0.4;width:565px;height:130px;left:-50px;top:-5px;z-index:100}
.shadeLogin{text-align:center;margin-top:20px;margin-left:100px;z-index:101;background:#000000;width:150px;padding:5px;color:#FFFFFF}
.shadeLogin a{color:#FFFFFF}


/********��ҳ************/
.pagination{height:25px;width:510px;font-size:13px;}
.pagination ul{padding:0px;margin:0px;float:left;text-align:center;margin-left:-5px;}
.pagination li{float:left;margin-left:5px;list-style:none;}
.pagination a{display:block;width:20px;height:17px;text-decoration:none;color:#2B4A78;padding-top:3px;text-align:center;border: 1px solid #999;border-top: 1px solid #DDD;border-left: 1px solid #DDD;}
.pagination a:hover,.pagination a:active{border:1px solid #DDD;border-top:1px solid #AAA;border-left:1px solid #AAA;background-color:#D0D3C8;}
a.prePage,a.nextPage{width:60px;}
#nowPage{width:20px;height:20px;font-weight:bold;padding-top:4px;border: 1px solid #999;border-left: 1px solid #DDD;height:17px;font-weight: bold;border-top: 1px none #CCC;background: #CCC;color: #666}
.noinfo{text-align:center;padding-top:10px;color:#999}

/********��ʾ��Ϣ**********/
.result_info{float:left;margin-left:10px;color:red;display:none;}
.result_info i{background:url("../images/icon.png") 0px -46px no-repeat;width:20px;height:20px;display:inline-block;float:left;margin-top:10px;}
.result_info i.info{background-position:-23px -46px}
.result_info span{float:left;margin-left:2px;padding-top:13px;}

.cutarea{float:left;}
.ferret{float:left;margin-left:10px;}

#loadmorebtn{padding:8px;text-align:center;display:block;text-decoration:none;background:#ECECEC;margin-top:5px;}
#loading{text-align:center;}

/*错误页面*/
.error_img{float:left;display:inline-block;width:400px;}
.error_img img{width:400px;}
.error_info{float:left;width:500px;margin-left:10px;color:#494949}
.error_info span{display:block;text-align:left;margin-top:10px;font-size:14px;}
.error_info .tit{font-size:16px;font-weight:bold;}
.error_info a{color:#64C5E8}

.notice_panle{width:150px;height:30px;position:absolute;left:10px;top:20px;display:none;font-size:13px;}
.tip-arrow{width: 9px;height: 6px;background: url(../images/tip-yellowsimple_arrows.gif) no-repeat;position:absolute;left:130px;top:0px;z-index:3;}
.tip_con{background:#FFF9C9;border:1px solid #C7BF93;height:20px;position:absolute;left:0px;top:5px;width:150px;padding-top:8px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px}
.tip_con a{color:#3E62A6;}

/*****消息框******/
.tips{width:150px;height:50px;position:fixed;top:400px;background:#64C5E8;padding:3px;font-size:13px;z-index:10000}
.tipscon{border:1px solid #494949;text-align:center;background:#ffffff;height:33px;padding-top:15px;}
.tipscon span{display:inline-block;}
.tipscon img{display: inline-block;margin-left:5px;}

.hilight{color:red}

#remote_load{position:fixed;width:100%;height:900px;z-index:99999;background:red;top:0px;left:0px;opacity: 0.3;filter: alpha(opacity = 30);background-color: #ccc;z-index: 1999;}
