<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ulewo.mapper.BlogMapper" >
  <resultMap id="BaseResultMap" type="com.ulewo.model.Blog" >
    <id column="blog_id" property="blogId" jdbcType="INTEGER" />
    <result column="userid" property="userId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="read_count" property="readCount" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="key_word" property="keyWord" jdbcType="VARCHAR" />
    <result column="allow_comment" property="allowComment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="base_condition" >
 	 <if test="param!=null">
	      <if test="null!=param.blogId and ''!=param.blogId" >
	        	and b.blog_id = #{param.blogId,jdbcType=VARCHAR}
	      </if>
	      <if test="null!=param.userId and ''!=param.userId" >
	        	and b.userid = #{param.userId,jdbcType=VARCHAR}
	      </if>
	      <if test="null!=param.categoryId and ''!=param.categoryId and '0'.toString()!=param.categoryId" >
	        	and b.category_id = #{param.categoryId,jdbcType=VARCHAR}
	      </if>
	       <if test="null!=param.title and ''!=param.title and '0'.toString()!=param.title" >
	        	and b.title like '%${param.title}%'
	      </if>
	      <if test="null!=param.keyWord and ''!=param.keyWord" >
	        	and b.title like '%${param.keyWord}%' or b.content like '%${param.keyWord}%'
	      </if>
	      <if test="null!=param.startTm and ''!=param.startTm">
	      	 <![CDATA[
	        	and b.create_time >='${param.startTm} 00:00:00'
	         ]]>
	      </if>
	      <if test="null!=param.startEnd and ''!=param.startEnd">
	      	  <![CDATA[
	        	and b.create_time <= '${param.startEnd} 23:59:59'
	          ]]>
	      </if>
      </if>
  </sql>
  <sql id="Base_Column_List" >
    blog_id, b.userid, b.category_id, title,summary,read_count, create_time, key_word, allow_comment
  </sql>
 
 
 
  <select id="selectBlogByBlogId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ulewo_blog b
    where blog_id  = #{blogId}
  </select>
 
  <select id="selectBaseInfo" resultMap="BaseResultMap" parameterType="com.ulewo.model.Blog" >
    select 
    <include refid="Base_Column_List" />
    from ulewo_blog b
    where 1 = 1
    <include refid="base_condition" />
  </select>
  
  <select id="selectDetail" resultMap="BaseResultMap" parameterType="com.ulewo.model.Blog" >
    select 
    <include refid="Base_Column_List" />
    ,content,(select count(1) from ulewo_blog_comment c where b.blog_id = c.blog_id) commentCount,c.name categoryName
    from ulewo_blog b left join ulewo_blog_category c on b.category_id = c.category_id
    where 1 = 1
    <include refid="base_condition" />
  </select>
  
  <select id="selectBaseInfoCount" resultType="java.lang.Integer" parameterType="com.ulewo.model.Blog" >
    select count(1)
    from ulewo_blog b
    where 1 = 1
    <include refid="base_condition" />
  </select>
  
   <select id="selectBaseInfoList" resultMap="BaseResultMap" parameterType="com.ulewo.model.Blog">
    select 
    <include refid="Base_Column_List" />,(select count(1) from ulewo_blog_comment c where b.blog_id = c.blog_id) commentCount,c.name categoryName
    ,u.username userName,u.user_icon userIcon
    from ulewo_blog b left join ulewo_blog_category c on b.category_id = c.category_id inner join ulewo_user u on u.userid=b.userid
    where 1=1
    <include refid="base_condition" />
    order by create_time desc limit #{page.start},#{page.end} 
  </select>
  
  <delete id="delete"  parameterType="com.ulewo.model.Blog" >
    delete from ulewo_blog  where  blog_id = #{param.blogId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.ulewo.model.Blog" >
  	<selectKey keyProperty="blogId" resultType="int" order="AFTER">
      	SELECT LAST_INSERT_ID()
    </selectKey>
    <![CDATA[
	    insert into ulewo_blog (userid, category_id,title,create_time,key_word,summary,content)
	    values (#{userId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
	      #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
	      #{keyWord,jdbcType=VARCHAR}, #{summary,jdbcType=LONGVARCHAR}, 
	      #{content,jdbcType=LONGVARCHAR})
    ]]>
  </insert>
  
 <update id="updateSelective" parameterType="com.ulewo.model.Blog" >
    update ulewo_blog
    <set >
      <if test="userId != null" >
        userid = #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="readCount != null" >
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keyWord != null" >
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="allowComment != null" >
        allow_comment = #{allowComment,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where blog_id = #{blogId,jdbcType=INTEGER} and userid = #{userId,jdbcType=INTEGER}
  </update>
</mapper>