<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ulewo.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ulewo.model.User" >
    <id column="email" property="email" jdbcType="VARCHAR" />
    <id column="username" property="userName" jdbcType="VARCHAR" />
    <id column="userid" property="userId" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_icon" property="userIcon" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="characters" property="characters" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="work" property="work" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="pre_visit_time" property="preVisitTime" jdbcType="TIMESTAMP" />
    <result column="center_theme" property="centerTheme" jdbcType="VARCHAR" />
    <result column="isvalid" property="isValid" jdbcType="VARCHAR" />
    <result column="center_theme" property="centerTheme" jdbcType="VARCHAR" />
    <result column="activation_code" property="activationCode" jdbcType="VARCHAR" />
  </resultMap>
	<sql id="base_condition" >
	  <if test="param!=null">
	    	<if test="null!=param.userId and ''!=param.userId" >
        		and userid = #{param.userId,jdbcType=VARCHAR}
      		</if>
       		<if test="null!=param.userName and ''!=param.userName" >
        		and username = #{param.userName,jdbcType=VARCHAR}
      		</if>
       		<if test="null!=param.email and ''!=param.email" >
        		and email = #{param.email,jdbcType=VARCHAR}
      		</if>
	  </if>
      
	</sql>
  <sql id="Base_Column_List" >
    email, password, userid, username, user_icon, age, sex, characters, mark, address, 
    work, register_time, pre_visit_time, isvalid, activation_code,center_theme
  </sql>
  
   <select id="selectUserByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from ulewo_user where username = #{userName}
  </select>
  
   <select id="selectUserByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from ulewo_user where userid = #{userId}
  </select>
  
   <select id="selectUserBaseInfo"   resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />,
  	(select count(1) from ulewo_user_friend f where  f.userid = u.userid and EXISTS(select 1 from ulewo_user u where u.userid=f.friend_userid)) focusCount,
    (select count(1) from ulewo_user_friend f where  f.friend_userid = u.userid and EXISTS(select 1 from ulewo_user u where u.userid=f.userid))fansCount
  	from ulewo_user u where userid = #{userId}
  </select>
  
  <select id="selectBaseInfoList" parameterType="com.ulewo.model.User" resultMap="BaseResultMap">
  	select  userid, username, user_icon,age, sex,mark,register_time
  	from ulewo_user where 1=1 
  	<include refid="base_condition" />
  	<if test="null!=param.orderBy and ''!=param.orderBy" >
         order by ${param.orderBy} 
    </if> 
   limit #{page.start},#{page.end} 
  </select>
  
    <select id="selectBaseInfo" parameterType="com.ulewo.model.User" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from ulewo_user where 1=1 
  	<include refid="base_condition" />
  </select>
  
  <insert id="insert" parameterType="com.ulewo.model.User" useGeneratedKeys="true" keyProperty="userId">
    insert into ulewo_user (email, username, 
      password, register_time,
      pre_visit_time,user_icon)
    values (#{email,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}, 
      #{preVisitTime,jdbcType=TIMESTAMP}, #{userIcon,jdbcType=VARCHAR})
  </insert>
  <update id="updateSelective" parameterType="com.ulewo.model.User" >
    update ulewo_user
    <set >
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        username = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userIcon != null" >
        user_icon = #{userIcon,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="characters != null" >
        characters = #{characters,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="work != null" >
        work = #{work,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preVisitTime != null" >
        pre_visit_time = #{preVisitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activationCode != null" >
        activation_code = #{activationCode,jdbcType=VARCHAR},
      </if>
      <if test="centerTheme != null" >
        center_theme = #{centerTheme,jdbcType=VARCHAR}
      </if>
    </set>
    where userid = #{userId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="com.ulewo.model.User" >
    delete from ulewo_user where userid = #{param.userid}
  </delete>
</mapper>