<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ulewo.mapper.TopicSurveyDtlMapper" >
  <resultMap id="BaseResultMap" type="com.ulewo.model.TopicSurveyDtl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="topic_id" property="topicId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, topic_id, title, count
  </sql>
  <sql id="base_condition" >
 	 <if test="param!=null">
	      <if test="null!=param.topicId and ''!=param.topicId" >
	        	and topic_id = #{param.topicId,jdbcType=DECIMAL}
	      </if>
      </if>
  </sql>
  <select id="selectBaseInfo" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ulewo_topic_survey_dtl
    where id = #{param.id,jdbcType=INTEGER} and topic_id = #{param.topicId,jdbcType=DECIMAL}
  </select>
  
  <select id="selectTopicSurveyDtls" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from ulewo_topic_survey_dtl
      where 1=1
    <include refid="base_condition" />
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ulewo_topic_survey_dtl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ulewo.model.TopicSurveyDtl" >
    insert into ulewo_topic_survey_dtl (id, topic_id, title)
    values (#{id,jdbcType=INTEGER}, #{topicId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR})
  </insert>
  <update id="updateSelective" parameterType="com.ulewo.model.TopicSurveyDtl" >
    update ulewo_topic_survey_dtl
    <set >
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and topic_id = #{topicId,jdbcType=DECIMAL}
  </update>
</mapper>