<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ulewo.mapper.LikeMapper" >
  <resultMap id="BaseResultMap" type="com.ulewo.model.Like" >
    <id column="op_id" property="opId" jdbcType="INTEGER" />
    <id column="userid" property="userId" jdbcType="INTEGER" />
    <id column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="base_condition" >
 	 <if test="param!=null">
	      <if test="null!=param.opId and ''!=param.opId" >
	        	and b.op_id = #{param.opId,jdbcType=INTEGER}
	      </if>
	       <if test="null!=param.userId and ''!=param.userId" >
	        	and b.userid = #{param.userId,jdbcType=INTEGER}
	      </if>
	       <if test="null!=param.type and ''!=param.type" >
	        	and b.type = #{param.type,jdbcType=VARCHAR}
	      </if>
      </if>
  </sql>
  
  <select id="getLikeCount" resultType="java.lang.Integer" >
    select count(1)
    from ulewo_like b where 1=1
   <include refid="base_condition" />
  </select>
 
  <insert id="save" parameterType="com.ulewo.model.Like" >
    insert into ulewo_like (op_id, type,userid)
		    values (#{opId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
		      #{userId,jdbcType=INTEGER})
  </insert>
</mapper>