@import url("public.css");
.bodycon{text-align:center;}
.mainlist_con{width:1000px;text-align:left;margin-top:20px;padding:8px;}
.mainlist_con_color{background:#F5F5F5;}
.mainlist_con_title{margin-top:5px;}
.mainlist_con_title a{font-size:14px;color:#336699;text-decoration:none;}
.mainlist_con_title a:hover{text-decoration:underline;}
.mainlist_con_username{color:#999999;margin-top:10px;}
.mainlist_con_username a{font-size:13px;color:#336699;text-decoration:none;}
.mainlist_con_username a:hover{text-decoration:underline;}
.mainlist_con_summary{margin-top:10px;color:#666666;line-height:20px;}
.keyWordInput{width:500px;height:25px;border:1px solid #989898;}
.searchArea{width:615px;height:30px;margin:0px auto;margin-top:100px;}
.searchInput{float:left;width:510px;}
.searchBtnDiv{width:103px;height:30px;float:left;}
.searchBtn{width:103px;height:30px;}