@import url("public.css");
body{background:#F9F9F9;}
.main{width:1000px;margin:10px auto;}
.left{width:220px;float:left;}
.avatar_con{height:85px;background:#4682B4}
.avatar_con img{border:0px;}
.user_avatar{float:left;width:60px;margin:10px;background:#FFFFFF;padding:3px;}
.user_edit{float:left;width:100px;}
.user_edit a{color:#FFFFFF;font-weight:bold;text-decoration: none;margin-top:30px;display:block;text-align:left;}
.resume{background: #6E7B8B url('../images/resume24.png') no-repeat left bottom;margin: 10px 0 0 0;color: white;padding: 18px 10px 18px 40px;word-wrap: break-word;overflow: hidden;text-align:left;}
.opts{margin-top:10px;}
.opts a{text-decoration:none;}
.opts .blog{background:#6495ED;width:105px;float:left;background-image:url('../images/space-opts.png');background-position: 18px -70px;background-repeat:no-repeat;display:block;color:#FFFFFF;padding-top:62px;height:17px;}
.opts .blog:hover{background: #3676E8;background-image:url('../images/space-opts.png');background-position: 18px -70px;background-repeat:no-repeat;}
.opts .manage{background:#5CACEE;width:105px;float:left;background-image:url('../images/space-opts.png');background-position: 18px -205px;background-repeat:no-repeat;display:block;margin-left:10px;color:#FFFFFF;padding-top:62px;height:17px;}
.opts .manage:hover{background: #2E94E9;background-image:url('../images/space-opts.png');background-position: 18px -205px;background-repeat:no-repeat;}
.opts .sendMsg{background:#5CACEE;display:block;height:40px;background-image:url('../images/space-opts.png');background-position: 15px -140px;background-repeat:no-repeat;color:#ffffff;padding-top:20px;padding-left:30px;font-size:14px;}
.opts .sendMsg:hover{background: #2E94E9;background-image:url('../images/space-opts.png');background-position: 15px -140px;background-repeat:no-repeat;}
.right{float:left;width:750px;margin-left:10px;text-align:left;background:#ffffff;padding:10px;}
.navPath{color:#999999;height:25px;}
.navPath a{color:#4466BB}
.baseinfo{border:1px solid #EEEEEE;padding:10px;background:#FFFFFF;}
.base_tit{font-weight:bold;font-size:13px;}
.base_tit{font-size:13px}
.topblog{border:1px solid #EEEEEE;padding:10px;margin-top:10px;background:#FFFFFF;}
.topblog_titcon{height:30px;}
.topblog_tit{display:inline-block;float:left;font-size:14px;color: #666666;font-weight:bold;}
.topblog_link{display:inline-block;float:right;}
.topblog_link a{color:#4466BB;font-weight:bolder;}
.blog_link a{color:#4466BB;text-decoration:none;line-height:20px;}
.blog_link a:hover{color:#0000AA}
.blog_link span{color:#999999;margin-left:20px;}
.blogCatalogs{background:#EAEAEA;}
.blogCatalogs_tit{border-bottom:2px solid #7798CB;color:#666666;font-size:15px;font-weight:bold;text-align:left;padding:5px;margin-top:10px;}
.createwo,.joinwo,.topic,.reply{background:#6E7B8B;height:30px;margin-top:10px;padding-top:20px;font-size:14px;color:#FFFFFF;display:block;text-decoration:none;}
.joinwo{background:#4682B4;}
.topic{background:#5CACEE;}
.reply{background:#6495ED;}
.blog_item{text-align:left;padding:5px}
.blog_itemname a{padding-left:20px;background:url("../images/fw_arrow.gif");background-repeat:no-repeat;color:#6866BB;display:block;text-decoration:none;}
.blog_itemname a:hover{text-decoration:underline;}
.blog_itemname{float:left;width:150px;}
.blog_articlecount{float:left;width:50px;color: #666}
.aop{width:120px;}
.atr2{height:30px;}
.blogdetail{font-size:14px;line-height:26px;word-wrap: break-word;margin-top:15px;}
.blog_title{font-weight:bold;font-size:18px;}
.blogsta{color:#666;margin-top:10px;}
.blogsta span{color:#A00;font-weight:bold;}
.blogsta_info{float:left;width:500px;}
.blogsta_op{display:inline-block;float:right;margin-right:10px;}
.blogsta_op a{color:#A00;display:inline-block;}
.blogsta_op a:hover{color:#FFFFFF;background:#A00;}
/*回复信息*/
.re_icon{width:50px;float:left;}
.re_info{float:left;width:675px;}
.note_name{color:#666}
.note_name_time span.nofirst{padding-left:10px;}
.note_time{color:#666}
.re_content{margin-top:10px;line-height:20px;}
.subArea{margin-top:5px;}
.quote_panle{border-bottom: #666 1px dashed;text-align: left;border-left: #666 1px dashed;padding-bottom: 8px;background-color: white;padding-left: 8px;padding-right: 8px;border-top: #666 1px dashed;border-right: #666 1px dashed;padding-top: 8px;margin: 0px 0px 8px 0px;position:relative;}
.quote_panle .close_icon{position:absolute;top:0px;right:0px;cursor:pointer;}