@IMPORT url("public.css");
.input_area{height:36px;margin-top:10px; }
.tit{width:100px;float:left;text-align:right;font-size:16px;color:#666666;padding-top:8px;}
.input_con{width:220px;float:left;border:1px solid #B7CEE3;height:30px;margin-left:15px;text-align:left;}
.long_input{border:0px;font-size:14px;margin-top:2px;height:25px;margin-left:5px;outline: none;width:97%;}
.check_con{float:left;border:1px solid #B7CEE3;height:30px;margin-left:15px;width:80px;}
.check_con input{border:0;font-size:16px;margin-top:2px;width:70px;outline: none;margin-left:5px;}
.checkcode{float:left;width:80px;margin-left:6px;padding-top:2px;}
.changecode{float:left;padding-top:10px;margin-left:3px;width:52px;}
.changecode a{color: #0179DC;text-decoration:none;}
.sub_con{border:0px;margin-left:12px;float:left;}
.sub_con a{display:inline-block;text-align:center;width:80px;height:20px;padding:8px;text-decoration:none;background:#5FB6FD}
/*��ʾ��*/
.promptInfo{float:left;color:#9B9B9B;width:320px;font-size:13px;padding-top:10px;margin-left:5px;text-align:left;}
/*������ʾ*/
.errorInfo{width:200px;float:left;color:#E12B2C;font-size:13px;margin-left:2px;height:20px;}
/*��ȷ��ʾ*/
.okInfo{float:left;color:#9B9B9B;width:200px;font-size:13px;margin-left:2px;height:20px;}
/*ͼ��*/
.iconimg{width:18px;float:left;}
/*�һ�����*/
.findpsw{width:100px;float:left;font-size:13px;padding-top:8px;margin-left:10px;}
.findpsw a{text-decoration:none;color:#0179DC;}

#userName,#email{color:#999999}

#loginerror{text-align:left;color:red;height:20px;font-size:14px;}
