@IMPORT url("public.css");
.main{margin-top:10px;}
.selected2{text-decoration:none;background:#298CBA;}
.group_info_left{float:left;width:785px;}
.group_icon{width:60px;float:left;border:1px solid #B2B3B2;padding: 1px}
.group_icon img{border:0px;width:60px;}
.group_info_con{float:left;width:710px;margin-left:10px;}
.group_title{font-weight:bold;font-size:16px;color:#40B3E9}
.group_title a.btn{font-size:13px;font-weight:normal;height:16px;padding-top:3px;}
.group_author{margin-top:2px;}
.group_info_tit{font-size:14px;padding:0px 5px}
.group_url{margin-top:5px;color:#335DA9}
.group_url a{background:#FCA01F;height:16px;padding:3px 8px 5px 8px;}
.group_url a:hover{background:#EE8700}
.group_url_con{display:inline-block;float:left;margin-top:5px;}
.group_joinstatus{display:inline-block;float:left;margin-left:5px;background:#F0F1F0;padding:2px;}
.group_joinstatus .joined{color:#696A69}
.group_joinstatus .joined a{background:#F0F1F0;}
.apply{color:red;}
.group_joinstatus .result_info{float:left;margin-left:5px;}
.group_desc{margin-top:5px;line-height:20px;}
.group_info_notice{float:left;width:200px;margin-left:15px;}

.group_body{margin-top:15px;}
.left{width:785px;float:left;}
.group_tag{list-style:none;border-bottom:2px solid #40B3E9;height:25px;margin:0px;padding:0px;}
.group_tag li{float:left;width:60px;margin-left:15px;}
.group_tag li a{background:#40B3E9;color:#ffffff;text-decoration:none;font-size:14px;display:block;width:60px;height:22px;text-align:center;border:2px solid #40B3E9}
.group_tag li a:hover{background:#ffffff;height:25px;color:#494949;border-bottom:0px;}
.group_tag li a.tag_select{background:#ffffff;height:25px;color:#494949;border-bottom:0px;}

/*******��������**********/
.new_article_p{background:.#F7F8F9;border:1px solid #D4DEE3;padding:5px;margin-top:10px;position:relative;}
.new_article_input{border:2px solid #67C1E3;width:685px;height:30px;float:left;cursor:pointer;}
.new_article_btn{background:#67C1E3;color:#ffffff;float:right;width:80px;padding-top:8px;text-align:center;font-weight:bold;height:26px;cursor:pointer;}


/********����*******/
.group_item{list-style:none;border-bottom:2px solid #DCDCDC;height:25px;margin:0px;padding:0px;margin-top:10px;}
.group_item li{float:left;margin-left:15px;display:inline-block;}
.group_item li a{color:#494949;text-decoration:none;font-size:14px;display:inline-block;padding:3px 5px 0px 5px;;height:20px;text-align:center;}
.group_item li a:hover{height:22px;color:#494949;border-bottom:2px solid #40B3E9;color:#40B3E9}
.group_item li a.select{height:22px;color:#494949;border-bottom:2px solid #40B3E9;color:#40B3E9}

.right{width:200px;float:left;margin-left:15px;}
.right_tit{border-bottom:2px solid #40B3E9;font-size:16px;font-weight:bold;color:#40B3E9;padding:0px 0px 3px 5px;}
.right_tit span{float:left;display:inline-block;}
.right a{float:right;display:inline-block;font-size:13px;font-weight:normal;}
.group_notice{text-align:left;padding:5px;line-height:20px;}
.group_notice_noinfo{padding-top:50px;text-align:center;}
/**��������**/
.form_tit{margin-top:10px;}
.form_tit_t{font-size:14px;}
.form_tit_x{color:#ABADB3}
.form_editinput{margin-top:5px;}
.form_title_input{float:left;width:400px;}
.form_title_input input{width:100%;height:25px;}
.form_title_info{float:left;display:inline-block;margin-left:10px;padding-top:5px;font-size:14px;}
.form_title_info_t{float:left;display:inline-block;margin-left:10px;padding-top:8px;font-size:13px;color:#9D9D9D;}
.form_title_select{float:left;display:inline-block;margin-left:10px;}
.form_title_select select{height:28px;}
.form_editcontent{margin-top:5px;}
.form_sub_btn{margin-top:10px;height:30px;}
.form_sub_btn a{font-size:14px;padding:8px 10px;font-weight:bold;height:15px;float:left;}
.form_sub_btn a.cancelbtn{background:#ABADB3;margin-left:10px;}

#add_article{display:none;border:1px solid #ABADB3;padding:8px;margin-top:10px;}
.file_upload{margin-top:5px;}
.file_upload_frame{float:left;display:inline-block;}
.file_upload_mark{float:left;display:inline-block;}
.file_upload_mark input{width:50px;}
.file_con{margin-top:5px;}
.file_con a{display:inline-block;}
#file_deleting{display:none;}

.add_hide{width:100%;height:100%;position:absolute;background:#FFFFFF;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity: 0.4;left:0px;top:0px;}
/****投票***/
.survey_con{border:1px solid #ABADB3;padding:5px;margin-top:5px;display:none}
.survey_tit{margin-top:5px}
.survey_input{height:30px;}
.survey_input input{width:300px;height:20px;float:left;}
.survey_input a{float:left;margin-top:3px;margin-left:5px;}
.survey_type{margin-top:5px;}
