@IMPORT url("public.css");
.article_posttime{color:#ABADAD;font-size:13px;}
.article_item{margin-top:10px;border-bottom:1px dashed #B2B3B2;padding-bottom:10px;}
.article_tit a{text-decoration:none;}
.article_title{display:inline-block;float:left;font-size:14px;margin-left:10px}
.article_title_icon{display:inline-block;float:left;padding-right:5px;}
.group_name{float:left;display:inline-block;}
.article_title a{float:left;display:inline-block;}
.article_title span{display:inline-block;float:left;margin-left:10px;}
.recount{color:#B2B3B2;padding-left:10px;}
.article_author{display:inline-block;float:right;font-size:14px;}
.article_summary{margin-top:10px;line-height:20px;color:#666666}
.group_member_icon{float:left;width:50px;}
.group_member_icon img{width:50px;border:0px}
#activer_list,#member_list{margin-top:10px;}
.pagination{margin-top:10px;}
.right{margin-top:4px;}
.selected5{text-decoration:none;background:#298CBA;}