@import url("user.public.css");
/****吐槽***/
.u_talk_tit span{display:inline-block;color:#888888;font-size:14px;}
.u_talk_titname{float:left;}
.u_talk_wordcount{float:right;}
.u_talk_textarea{margin-top:5px;}
.u_talk_textarea textarea{outline:none;resize:none;width:747px;height:60px;border:2px solid #40B3E9;}
.u_talk_sub{margin-top:5px;position:relative;}
.u_talk_subtn{float:right;display:inline-block;}
.u_talk_subtn a{background:#38A3DB;color:white;height:23px;width:80px;display:block;text-decoration:none;font-size:16px;text-align:center;padding-top:5px;float:left;}
.u_talk_subtn a:hover{color:white;background:#40B3E9}
.u_talk_subtn .result_info{float:left;margin-right:5px;}
.u_talk_subtn .result_info span{padding-top:11px;}
.u_talk_subtn .result_info i{margin-top:8px;}
.moretalk a{color:#4466BB;font-weight:bolder;}

.talkitem{margin-top:10px;min-height:50px;}
.itemicon{width:37px;float:left;border:1px solid #9A9A9A;height:37px;}
.itemcon{margin-left:10px;font-size:12px;margin-left:50px;}
.item_time_r{display:inline-block;margin-left:5px;}
.item_user{color:#6CABE1;}
.item_user a{color:#6CABE1;text-decoration:underline;font-size:12px;}
.item_content{color:#666;line-height:20px;font-size:12px;font-family:微软雅黑,Verdana,sans-serif,宋体}
.item_content a{color:#4466BB;text-decoration:underline;font-size:12px;}
.item_content a:hover{color:#4466BB}
.detail_item_time{float:left;font-size:11px;display:inline-block;margin-top:5px;color:#9A9A9A;}
.detail_item_recount{float:right;font-size:11px;display:inline-block;margin-top:5px;color:#4466BB}

.item_time{font-size:13px;display:block;margin-top:5px;color:#9A9A9A;}
.item_time a{color:#6CABE1;text-decoration:none;}
.item_time a:hover{color:#6CABE1}

.re_line{border-bottom:1px solid #9A9A9A;margin-top:10px;padding:5px;font-size:16px;}
.talkimg a{cursor: url("../images/zoom-in.cur"), pointer}
