<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:jee="http://www.springframework.org/schema/jee"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:task="http://www.springframework.org/schema/task"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
                       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
                       http://www.springframework.org/schema/tx 
                       http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
                       http://www.springframework.org/schema/jee 
                       http://www.springframework.org/schema/jee/spring-jee-3.2.xsd 
                       http://www.springframework.org/schema/context 
                       http://www.springframework.org/schema/context/spring-context-3.2.xsd
                       http://www.springframework.org/schema/aop 
                       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                       http://www.springframework.org/schema/task 
					   http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	
	
   <bean id="propertyConfigurer"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="location">
         <value>classpath:/config/jdbc.properties</value>
      </property>
   </bean>
   <!-- spring c3p0 连接池 -->
   <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
      <property name="driverClass" value="${jdbc.driverClassName}" />
      <property name="jdbcUrl" value="${jdbc.url}" />
      <property name="user" value="${jdbc.username}" />
      <property name="password" value="${jdbc.password}" />
      <property name="minPoolSize" value="${c3p0.minPoolSize}" />
      <property name="maxPoolSize" value="${c3p0.maxPoolSize}" />
      <property name="maxStatements" value="${c3p0.max_statement}" />
      <property name="maxIdleTime" value="${c3p0.maxIdleTime}"/>
      <property name="initialPoolSize" value="${c3p0.initialPoolSize}"/>
   </bean>
   
   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
		<property name="dataSource" ref="dataSource" />  
		<!--扫描所有的*mapper.xml 文件， 不用把所有的mapper.xml都要添加到mapper文件中 
		<property name="configLocation" value="classpath:/config/SqlMapConfig.xml"></property>  
		-->
		<property name="mapperLocations" value="classpath:/com/ulewo/mapper/resources/*Mapper.xml"></property>
	</bean>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0"  ref="sqlSessionFactory" />
	</bean>
   
  	 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
  	 	<!-- 注解dao，扫描dao目录下的所有dao -->
		<property name="basePackage" value="com.ulewo.mapper" />
	</bean>
   
   
   <aop:aspectj-autoproxy proxy-target-class="true">
        <aop:include name="loggerInjector" />
    </aop:aspectj-autoproxy>
    <bean id="loggerInjector" class="com.ulewo.service.LoggerInjector"></bean>
    
   <context:component-scan base-package="com.ulewo.service"> 
	   <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/> 
   </context:component-scan>
   <tx:annotation-driven transaction-manager="transactionManager"  proxy-target-class="true"/>
   	<!-- 配置ibatis的局部事务管理器，使用DataSourceTransactionManager类-->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
    <task:annotation-driven />
</beans>
