<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ulewo.mapper.BlastCommentMapper" >
  <resultMap id="BaseResultMap" type="com.ulewo.model.BlastComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="blast_id" property="blastId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="userid" property="userId" jdbcType="INTEGER" />
    <result column="at_userid" property="atUserId" jdbcType="INTEGER" />
    <result column="source_from" property="sourceFrom" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c.id, c.blast_id, c.content, c.create_time, c.userid, c.at_userid, c.source_from
  </sql>
  
   <sql id="base_condition" >
 	 <if test="param!=null">
	      <if test="null!=param.blastId and ''!=param.blastId" >
	        	and c.blast_id = #{param.blastId,jdbcType=DECIMAL}
	      </if>
      </if>
  </sql>
    
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ulewo_blast_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id ="selectBaseInfoCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(1)
	  from ulewo_blast_comment c 
	  where 1=1
	  <include refid="base_condition" />
	   and EXISTS(select 1 from ulewo_user u where u.userid=c.userid)
  </select>
  
  <select id="selectBaseInfoList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    ,u.username userName,u.user_icon userIcon,u2.username atUserName
    from ulewo_blast_comment c inner join ulewo_user u on u.userid = c.userid
    left join ulewo_user u2 on u2.userid = c.at_userid
    where 1=1
    <include refid="base_condition" />
    order by c.create_time desc limit #{page.start},#{page.end}
  </select>
  
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from ulewo_blast_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ulewo.model.BlastComment" >
  	<selectKey keyProperty="id" resultType="int" order="AFTER">
      	SELECT LAST_INSERT_ID()
    </selectKey>
      <![CDATA[
    insert into ulewo_blast_comment (blast_id, content, 
      create_time, userid, at_userid, 
      source_from)
    values (#{blastId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{atUserId,jdbcType=INTEGER}, 
      #{sourceFrom,jdbcType=VARCHAR})
       ]]>
  </insert>
</mapper>