<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ulewo.mapper.CommonDynamicMapper" >
	<resultMap id="BaseResultMap" type="com.ulewo.model.CommonDynamic" >
	    <result column="userid" property="userId" jdbcType="INTEGER" />
	    <result column="username" property="userName" jdbcType="VARCHAR" />
	    <result column="user_icon" property="userIcon" jdbcType="VARCHAR" />
	    <result column="title" property="title" jdbcType="VARCHAR" />
	    <result column="gid" property="gid" jdbcType="VARCHAR" />
	    <result column="summary" property="summary" jdbcType="VARCHAR" />
	    <result column="id" property="id" jdbcType="INTEGER" />
	    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
	    <result column="type" property="type" jdbcType="VARCHAR" />
	    <result column="commments" property="commments" jdbcType="INTEGER" />
	    <result column="images" property="images" jdbcType="INTEGER" />
  	 </resultMap>
  	 <sql id="base_condition" >
	  <if test="param!=null">
	    	<if test="null!=param.userId and ''!=param.userId" >
        		and t.userid = #{param.userId,jdbcType=VARCHAR}
      		</if>
	      	<if test="null!=param.startTm and ''!=param.startTm">
		      	 <![CDATA[
		        	and t.create_time >='${param.startTm} 00:00:00'
		         ]]>
		     </if>
		     <if test="null!=param.startEnd and ''!=param.startEnd">
		      	  <![CDATA[
		        	and t.create_time <= '${param.startEnd} 23:59:59'
		          ]]>
		     </if>
	  </if>
	</sql>
	<sql id="Base_Column_List" >
    	*
	</sql>
	
	<sql id="column4topic" >
    	c.userid,u.username,u.user_icon,c.title title,c.topic_id id,c.create_time,'T' type,c.summary,c.gid,(select count(1) from ulewo_topic_comment t where t.topic_id=c.topic_id) comments,c.topic_image_small images
	</sql>
	<sql id="column4blog" >
    	c.userid,u.username,u.user_icon,c.title title,c.blog_id id,c.create_time,'B' type,c.summary,'' gid,(select count(1) from ulewo_blog_comment t where t.blog_id=c.blog_id) comments,c.blog_image_small images 
	</sql>
	<sql id="column4blast" >
    	c.userid,u.username,u.user_icon,'' title,c.blast_id id,c.create_time,'L' type,c.content summary,'' gid,(select count(1) from ulewo_blast_comment t where t.blast_id=c.blast_id) comments,c.image_url images
	</sql>
	<sql id="column4group" >
    	c.group_userid userid,u.user_icon,u.username,c.group_name title,c.gid id,c.create_time,'W' type,c.group_desc summary,c.gid,0,'' images
	</sql>
	
	<select id="selectFocusAllDynamicCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select sum(allCount) from
		(select count(c.topic_id) allCount from ulewo_topic c inner join ulewo_user_friend f on c.userid = f.friend_userid 
		inner join ulewo_user u on u.userid = f.friend_userid
		where f.userid = #{param.userId,jdbcType=VARCHAR}
		UNION 
		select count(c.blog_id) allCount from ulewo_blog c inner join ulewo_user_friend f on c.userid = f.friend_userid 
		inner join ulewo_user u on u.userid = f.friend_userid
		where f.userid = #{param.userId,jdbcType=VARCHAR}
		UNION 
		select count(c.blast_id) allCount from ulewo_blast c inner join ulewo_user_friend f on c.userid = f.friend_userid 
		inner join ulewo_user u on u.userid = f.friend_userid
		where f.userid = #{param.userId,jdbcType=VARCHAR}
		UNION 
		select count(c.gid) allCount  from ulewo_group c inner join ulewo_user_friend f on c.group_userid = f.friend_userid 
		inner join ulewo_user u on u.userid = f.friend_userid
		where f.userid = #{param.userId,jdbcType=VARCHAR}
		) t  
	</select>
	
	<select id="selectFocusAllDynamic" parameterType="java.util.Map" resultMap="BaseResultMap">
  		select 
	  	<include refid="Base_Column_List" />
	  	from
		(select <include refid="column4topic" /> from ulewo_topic c inner join ulewo_user_friend f on c.userid = f.friend_userid 
		inner join ulewo_user u on u.userid = f.friend_userid
		where f.userid = #{param.userId,jdbcType=VARCHAR}
		UNION 
		select <include refid="column4blog" />  from ulewo_blog c inner join ulewo_user_friend f on c.userid = f.friend_userid 
		inner join ulewo_user u on u.userid = f.friend_userid
		where f.userid= #{param.userId,jdbcType=VARCHAR}
		UNION 
		select <include refid="column4blast" /> from ulewo_blast c inner join ulewo_user_friend f on c.userid = f.friend_userid 
		inner join ulewo_user u on u.userid = f.friend_userid
		where f.userid= #{param.userId,jdbcType=VARCHAR}
		UNION 
		select <include refid="column4group" /> from ulewo_group c inner join ulewo_user_friend f on c.group_userid = f.friend_userid 
		inner join ulewo_user u on u.userid = f.friend_userid
		where f.userid= #{param.userId,jdbcType=VARCHAR}
		) t  
		ORDER BY t.create_time desc limit #{page.start},#{page.end} 
	</select>
	
	
	<select id="selectUserAllDynamicCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select sum(t.allCount) from
		(select count(1) allCount from ulewo_topic c  
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		UNION 
		select count(1) allCount from ulewo_blog c 
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		UNION 
		select count(1) allCount from ulewo_blast c 
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		UNION 
		select count(1) allCount from ulewo_group c 
		inner join ulewo_user u on u.userid = c.group_userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		) t
	</select>
	
	<select id="selectUserAllDynamic" parameterType="java.util.Map" resultMap="BaseResultMap">
  		select 
	  	<include refid="Base_Column_List" />
	  	from
		(select <include refid="column4topic" /> from ulewo_topic c  
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		UNION 
		select <include refid="column4blog" /> from ulewo_blog c 
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		UNION 
		select <include refid="column4blast" /> from ulewo_blast c 
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		UNION 
		select <include refid="column4group" /> from ulewo_group c 
		inner join ulewo_user u on u.userid = c.group_userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		) t  
		ORDER BY t.create_time desc limit #{page.start},#{page.end} 
	</select>
	
	<!-- 用户发表的帖子 -->
	<select id="selectUserTopicCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) allCount from ulewo_topic c  
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
	</select>
	
	<select id="selectUserTopic" parameterType="java.util.Map" resultMap="BaseResultMap">
  		select <include refid="column4topic" /> from ulewo_topic c  
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		ORDER BY c.create_time desc limit #{page.start},#{page.end} 
	</select>
	
	<!-- 用户发表的博文 -->
	<select id="selectUserBlogCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) allCount from ulewo_blog c  
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
	</select>
	
	<select id="selectUserBlog" parameterType="java.util.Map" resultMap="BaseResultMap">
  		select <include refid="column4blog" /> from ulewo_blog c 
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		ORDER BY c.create_time desc limit #{page.start},#{page.end} 
	</select>
	
	<!-- 用户发表的吐槽 -->
		<select id="selectUserBlastCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) allCount from ulewo_blast c  
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
	</select>
	
	<select id="selectUserBlast" parameterType="java.util.Map" resultMap="BaseResultMap">
  		select <include refid="column4blast" /> from ulewo_blast c 
		inner join ulewo_user u on u.userid = c.userid
		where u.userid=#{param.userId,jdbcType=VARCHAR}
		ORDER BY c.create_time desc limit #{page.start},#{page.end} 
	</select>
	
</mapper>