<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ulewo.mapper.TopicCommentMapper" >
  <resultMap id="BaseResultMap" type="com.ulewo.model.TopicComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="topic_id" property="topicId" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="userid" property="userId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="at_userid" property="atUserId" jdbcType="INTEGER" />
    <result column="source_from" property="sourceFrom" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c.id, c.pid, c.topic_id, c.gid, c.userid, c.create_time, c.at_userid, c.source_from,c.content
  </sql>
   <sql id="base_condition" >
 	 <if test="param!=null">
	      <if test="null!=param.gid and ''!=param.gid" >
	        	and c.gid = #{param.gid,jdbcType=DECIMAL}
	      </if>
	      <if test="null!=param.topicId and ''!=param.topicId" >
	        	and c.topic_id = #{param.topicId,jdbcType=DECIMAL}
	      </if>
	      <if test="null!=param.id and ''!=param.id" >
	        	and c.id = #{param.id,jdbcType=DECIMAL}
	      </if>
      </if>
  </sql>
  
  <select id="selectBaseInfoCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(1)
    from ulewo_topic_comment c inner join ulewo_user u on u.userid = c.userid
    where  1=1
    <include refid="base_condition" />
  </select>
  
  <select id="selectBaseInfoList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    ,u.username userName,u.user_icon userIcon
    from ulewo_topic_comment c inner join ulewo_user u on u.userid = c.userid
    where  1=1
    <include refid="base_condition" />
     <if test="null!=param.order and ''!=param.order">
    	 order by create_time ${param.order} 
     </if>
    limit #{page.start},#{page.end} 
  </select>
  
  <select id="pComentCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(1)
    from ulewo_topic_comment c inner join ulewo_user u on u.userid = c.userid
    where  1=1
    <include refid="base_condition" />
    and (c.pid = 0 or c.pid is null)
  </select>
  
  <select id="selectPComentList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    ,u.username userName,u.user_icon userIcon
    from ulewo_topic_comment c inner join ulewo_user u on u.userid = c.userid
    where  1=1
    <include refid="base_condition" />
    and (c.pid = 0 or c.pid is null)
     <if test="null!=param.order and ''!=param.order">
    	 order by create_time ${param.order} 
     </if>
    limit #{page.start},#{page.end} 
  </select>
  
  <select id="selectSubComment" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    ,u.username userName,u.user_icon userIcon
    ,ru.username atUserName,ru.user_icon atUserIcon
    from ulewo_topic_comment c inner join ulewo_user u on u.userid = c.userid
    inner join ulewo_user ru on ru.userid = c.at_userid
    where  1=1
    <include refid="base_condition" />
    <![CDATA[
    	and c.pid >= #{param.pidStart,jdbcType=DECIMAL}
    	and c.pid <= #{param.pidEnd,jdbcType=DECIMAL}
    ]]>	
    <if test="null!=param.order and ''!=param.order">
    	 order by create_time ${param.order} 
    </if>
  </select>
  
  <delete id="delete"  parameterType="java.util.Map">
    delete from ulewo_topic_comment
    where  topic_id = #{param.topicId,jdbcType=DECIMAL} and id = #{param.id,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insert" parameterType="com.ulewo.model.TopicComment" >
  	 <selectKey keyProperty="id" resultType="int" order="AFTER">
      	SELECT LAST_INSERT_ID()
    </selectKey>
  	  <![CDATA[
	    insert into ulewo_topic_comment (pid, topic_id, 
	      gid, userid, create_time, 
	      at_userid, source_from, content
	      )
	    values (#{pid,jdbcType=INTEGER}, #{topicId,jdbcType=INTEGER}, 
	      #{gid,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
	      #{atUserId,jdbcType=INTEGER}, #{sourceFrom,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
	      )
       ]]>
  </insert>
  
  <update id="updateSelective" parameterType="com.ulewo.model.TopicComment" >
    update ulewo_topic_comment
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="atUserid != null" >
        at_userid = #{atUserid,jdbcType=INTEGER},
      </if>
      <if test="sourceFrom != null" >
        source_from = #{sourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>